table, td, th {
    border-width: 2px;
    border-style: solid;
    border-color: green;
}

.C_table {
    direction: rtl;
    width: 100%;
    text-align: center;
    background-color: lightgray; /*lightskyblue*/
    font-size: 20px;
    font-family: 'B Homa';
}

.C_thead {
    color: red;
    font-size: 22px;
}

.C_caption {
    font-size: 25px;
    font-family: 'B Titr';
}

.C_div_link {
    direction: rtl;
    text-align: center;
    padding: 5px;
}

.C_link {
    font-size: 22px;
    font-family: 'B Homa';
    color: darkblue;
    background-color: yellow;
    text-decoration: none;
}

.C_button {
    font-size: 25px;
    font-family: 'B Mitra';
    color:blue;
    background-color:sandybrown;
    margin: 12px;
    border-style:solid;
    border-width:2px;
    border-color:green;
}

div {
    direction: rtl;
}

    div input[type="text"] {
        font-size: 20px;
        font-family: 'B Nazanin';
        text-align: center;
    }

    div label {
        direction: rtl;
        font-size: 20px;
        font-family: 'B Yekan';
    }
   .C_select {
        font-size: 20px;
        font-family: 'B Nazanin';
    }
